<div class="card-columns mt-5">
  <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/9.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">GP</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">5 GP's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;" >
      <div class="row no-gutters">
        <div class="col-md-4">
        
          <img src="assets/2.png" class="card-img" alt="..." >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Dentist</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">15 Dentist's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/10.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Pediatries</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">2 Pediatri's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/5.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ambulance Assist</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">7 Ambulance's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
 

    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/3.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">D.I.Y First Aid</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">20 First Aid's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>


    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/1.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Diet Planner</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">12 Planner's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>


    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/7.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Support</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/8.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Blood Pressure Tracker</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>


    <div routerLink="/chat" class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/4.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Appointment Reminder</h5>
            <p class="card-text">explanation</p>
            <p class="card-text"><small class="text-muted">15 Dentist's online</small></p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>


</div>